* {
	padding:0;
	margin:0;
}

body {
	background-color: #f1f1f1;
	font-family: "Josefin Sans", Sans-serif;
	font-weight: 400;
	line-height:20px;
}

a {
  color: #000000 !important;
  text-decoration: none !important;
}

a:hover {
  color: #000000 !important;
  text-decoration: none !important;
}

.header-container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: nowrap;
	width: auto;
	height: 70px;
	background-color: #ffffff;
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
}

.header-content {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: nowrap;
	max-width: 1200px;
	width: 100%;
}

.buscar-icon {
	width: 30px;
}

.header-icon {
	width: 30px;
}

.cursor-pointer {
	cursor: pointer;
}

.buscador-desplegable {
	display: none;
	width: auto;
	height: 40px;
	padding: 10px;
	padding-bottom: 20px;
	background-color: #ffffff;
	text-align: center;
}

.buscador-desplegable input {
	max-width: 1000px;
	width: 90%;
	margin: 0 auto;
	border: 0px;
	background-color: #f7f7f7;
	padding: 10px;
	border-radius: 2px;
}

.dioses-mas-buscados {
	width: 90%;
	max-width: 900px;
	margin: 0 auto;
	margin-top: 30px;
	padding: 10px;
}

.listado-dioses {
	display: none;
	align-items: center;
	justify-content: space-between;
	flex-wrap: nowrap;
	padding: 10px;
}

.listado-dioses-movil {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: nowrap;
	padding: 10px;
}

.icon-listado {
	width: 40px;
}

.body-container {
	padding: 20px 20px 40px 20px;
	text-align: center;
}

.titulo-body {
	width: auto;
	margin: 0 auto;
	margin-top: 10px;
	text-align: center;
	font-size: 30px;
	font-weight: 700;
}

.contenido-desplegable {
	display: none;
	position: absolute;
	width: 90%;
    max-width: 500px;
    max-height: 400px;
    margin-top: 10px;
    margin-left: 5%;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 5px;
}

.item-busqueda {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-wrap: nowrap;
	padding: 10px 5px;
	border-bottom: 1px solid #d8d8d8;
	border-radius: 2px;
	cursor: pointer;
}

.item-busqueda:hover {
	background-color: #f1f1f1;
}

.item-busqueda img {
	width: 30px;
	margin-right: 15px;
}

.nombre-dios {
	font-size: 16px;
	font-weight: 400;
}

.titulo {
	font-size: 20px;
	font-weight: 700;
}

.subtitulo {
	font-size: 20px;
	font-weight: 700;
	margin: 0 auto;
	margin-top: 40px;
}

.parrafo {
	max-width: 900px;
	margin: 0 auto;
	margin-top: 30px;
	font-weight: 400;
	text-align: justify;
}

.parrafo a {
	font-weight: 700;
	text-decoration: underline !important;
}

.imagen {
	width: 100%;
	max-width: 900px;
	margin: 0 auto;
	margin-top: 30px;
}

.imagen img {
	width: 100%;
	border-radius: 5px;
}

.enumeracion {
	width: 100%;
	max-width: 900px;
	margin: 0 auto;
	margin-top: 30px;
	text-align: left;
	padding-left: 10px;
}

footer {
	text-align: center;
	margin-bottom: 30px;
}

@media (min-width: 768px) {
	.titulo {
		font-size: 30px;
	}

	.header-icon {
		width: 50px;
	}

	.contenido-desplegable {
		margin-left: calc(50% - 250px);
	}

	.listado-dioses {
		display: flex;
	}

	.listado-dioses-movil {
		display: none;
	}

	.titulo-body {
		margin-top: 30px;
	}
}
